section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;
}

section div {
  margin: 0 5% 0 5%;
}

.roleInput{

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px;
}


.roleInput > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
